# deps
node_modules
**/node_modules

# env
.env
.env.*

# build
dist
build

# expo
.expo
.expo-shared

# turbo cache
.turbo
**/.turbo

# pnpm store
.pnpm-store

# logs
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
